/* General body styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  
}
header {
  background-image: linear-gradient(100deg, #b6c3fd, #6f9af7);
}

/* Navbar styling */
nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-brand, .text-primary {
  color: #0a58ca;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex;
  justify-content: left;
}

ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

ul.navbar li a.active {
  background-color: white; /* Weißer Hintergrund für den aktiven Link */
  color: black; /* Schwarzer Text für den aktiven Link */
}

ul.navbar li a:hover {
  background-color: #555;
}

/* Content section styling */
div.content {
  padding: 20px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 900px) {
  ul.navbar {
    flex-direction: column;
    align-items: center;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  ul.navbar {
    flex-direction: column;
    align-items: center;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
}