* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  background-color: black;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

section {
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.content {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.section-box {
  background-color: rgba(71, 54, 152, 0.15);
  backdrop-filter: blur(8px);
  border: 2px solid rgba(0, 9, 172, 0.2);
  box-shadow: inset 0 0 5px rgba(64, 103, 229, 0.2);
  border-radius: 30px;
  height: 85vh;  
  width: 85%;
  overflow-y: auto; /* vertical slide */
  overflow-x: hidden; /* horizontel slide */
}
/* swipen for mobile phone */
@media (max-width: 768px) {
  .section-box {
    height: 100vh;  
    overflow-y: scroll;  
  }
}
.section-box::-webkit-scrollbar {
  width: 10px;
}
.section-box::-webkit-scrollbar-thumb {
  background-color: rgba(1, 33, 114, 0.5);  /* Dunkler Scrollbalken */
  border-radius: 10px;
}
.section-box::-webkit-scrollbar-track {
  background-color: rgba(15, 0, 68, 0.1);  /* Heller Hintergrund für den Track */
}

.section-title {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
  animation: bottomIn 1s ease-in-out forwards;
  animation-delay: 0.3s;
  opacity: 0;
}



/* Navbar styling */
nav {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 40px;
  z-index: 2;
}
.nav-items {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
}
.navbar .nav-link {
  color: rgb(77, 86, 255); /* Setzt den Text der Navbar-Links auf weiß */
}
.navbar .nav-link:hover {
  color: #afaaff; /* Setzt den Text bei Hover auf eine etwas hellere Farbe, z.B. ein graues Weiß */
}
.navbar .nav-link.active {
  color: white; /* Setzt die Farbe des aktiven Links auf schwarz */
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-image: linear-gradient(100deg, rgba(28, 35, 152, 0.8), rgba(71, 54, 152, 0.2));
}
.header-logo {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}


